<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Coupé">
    <item>
      <listing>BMW 218</listing>
      <price>14.750</price>
      <year>2014</year>
    </item>
    <item>
      <listing>Mercedes Benz 250CDI</listing>
      <price>18.900</price>
      <year>2014</year>
    </item>
    <item automatic="true">
      <listing>Mercedes Benz 250CDI</listing>
      <price>18.900</price>
    </item>
  </category>
  <category name="Hatchback">
    <item>
      <listing>VW Golf MK7</listing>
      <price>17.900</price>
      <year>2015</year>
    </item>
    <item>
      <listing>Audi A3 Sportback</listing>
      <price>15.950</price>
      <year>2014</year>
    </item>
    <item Automatic="true">
      <listing>Audi A3 Sportback</listing>
      <price>15.950</price>
      <year>2014</year>
    </item>
  </category>
  <category name="Sedan">
    <item>
      <listing>Audi A4 S line</listing>
      <price>17.995</price>
      <year>2014</year>
    </item>
    <item>
      <listing>Skoda Octavia VRS</listing>
      <price>19.995</price>
      <year></year>
    </item>
    <item Automatic="true">
      <listing>Audi A4 S line</listing>
      <price>17.995</price>
      <year>2014</year>
    </item>
  </category>
  <category name="Station Wagon">
    <item>
      <listing>Seat Leon FR</listing>
      <price>11.450</price>
      <year>2014</year>
    </item>
    <item>
      <listing>Mercedes Benz C200 Bluetech</listing>
      <price>17.950</price>
      <year>2015</year>
    </item>
    <item Automatic="true">
      <listing>Mercedes Benz C200 Bluetech</listing>
      <price>17.950</price>
      <year>2015</year>
    </item>
  </category>
  <category name="Suv">
    <item>
      <listing>Hyundai IX35</listing>
      <price>15.250</price>
      <year>2015</year>
    </item>
    <item>
      <listing>Audi Q5</listing>
      <price>18.750</price>
      <year>2014</year>
    </item>
      </category>
</menu>