<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Coupé">
    <item>
      <listing>BMW 218</listing>
      <price>14.750</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yMzI0MDE2OTkifQ==?signature=0e342a919899948271440ca04c0a4a682e71f25ecce3a6072cf24a5c260c655e</Image>
    </item>
    <item>
      <listing>Mercedes Benz 250CDI</listing>
      <price>18.900</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yMzcxNDIxNzAifQ==?signature=7f7201383074be8f4e5e499905158021f67b0475a90709ea3149a92c7abdee24</Image>
    </item>
    <item automatic="true">
      <listing>Mercedes Benz 250CDI</listing>
      <price>18.900</price>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yMzcxNDIxNzAifQ==?signature=7f7201383074be8f4e5e499905158021f67b0475a90709ea3149a92c7abdee24</Image>
    </item>
    </item>
  </category>
  <category name="Hatchback">
    <item>
      <listing>VW Golf MK7</listing>
      <price>17.900</price>
      <year>2015</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjYwMCwiaGVpZ2h0Ijo2MDB9fSwia2V5IjoicGhvdG9fMjM1OTc0MTEwIn0=?signature=510f55d7a2f731a0161c1bef5c4b8e9bd8d593eb575d9be909411eb9c6de582a</Image>
    </item>
    <item>
      <listing>Audi A3 Sportback</listing>
      <price>15.950</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yNDAxNzk2OTgifQ==?signature=64b5f1ac24a3605b9f9ca31c6e8823972a800a05c4d5c8b348ad9f65c3f6c764</Image>
    </item>
    <item Automatic="true">
      <listing>Audi A3 Sportback</listing>
      <price>15.950</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yNDAxNzk2OTgifQ==?signature=64b5f1ac24a3605b9f9ca31c6e8823972a800a05c4d5c8b348ad9f65c3f6c764<Iimage>
    </item>
  </category>
  <category name="Sedan">
    <item>
      <listing>Audi A4 S line</listing>
      <price>17.995</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjYwMCwiaGVpZ2h0Ijo2MDB9fSwia2V5IjoicGhvdG9fMjQxMDAzODM5In0=?signature=470dd6daa46ca0703ef8e22a38973978fd01dc0a4f5b3865727a452f033cabe2</Image>
    </item>
    <item>
      <listing>Skoda Octavia VRS</listing>
      <price>19.995</price>
      <year></year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjYwMCwiaGVpZ2h0Ijo2MDB9fSwia2V5IjoicGhvdG9fMjQxNjA2NjkxIn0=?signature=a9142196ead17f5852d54b842527eb8218bbbbcdbca2baf3be963a2e9145b3cd<Image>
    </item>
    <item Automatic="true">
      <listing>Audi A4 S line</listing>
      <price>17.995</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjYwMCwiaGVpZ2h0Ijo2MDB9fSwia2V5IjoicGhvdG9fMjQxMDAzODM5In0=?signature=470dd6daa46ca0703ef8e22a38973978fd01dc0a4f5b3865727a452f033cabe2</Image>
    </item>
  </category>
  <category name="Station Wagon">
    <item>
      <listing>Seat Leon FR</listing>
      <price>11.450</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjYwMCwiaGVpZ2h0Ijo2MDB9fSwia2V5IjoicGhvdG9fMjQyODMzMTA0In0=?signature=4f5026ff890e6ccdadda4d1826375ab9589dae6ffa006d5a4ec043c1a7934bca</Image>
    </item>
    <item>
      <listing>Mercedes Benz C200 Bluetech</listing>
      <price>17.950</price>
      <year>2015</year>
    </item>
    <item Automatic="true">
      <listing>Mercedes Benz C200 Bluetech</listing>
      <price>17.950</price>
      <year>2015</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yMzMxNjAyMDkifQ==?signature=b18938467c6c10b9ba5409f40fef069a9fad9071415b954e2095785dde82bbb5</Image>
    </item>
  </category>
  <category name="Suv">
    <item>
      <listing>Hyundai IX35</listing>
      <price>15.250</price>
      <year>2015</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjYwMCwiaGVpZ2h0Ijo2MDB9fSwia2V5IjoicGhvdG9fMjMzOTIzNDI0In0=?signature=11be6512282d927a92d4727a6d634b0dac0b3e6d5db5fb347d76718af054328f</Image>
    </item>
    <item>
      <listing>Audi Q5</listing>
      <price>18.750</price>
      <year>2014</year>
      <Image>https://media.donedeal.ie/eyJidWNrZXQiOiJkb25lZGVhbC5pZS1waG90b3MiLCJlZGl0cyI6eyJ0b0Zvcm1hdCI6ImpwZWciLCJyZXNpemUiOnsiZml0IjoiaW5zaWRlIiwid2lkdGgiOjEyMDAsImhlaWdodCI6MTIwMH19LCJrZXkiOiJwaG90b18yMzg5NzAzODYifQ==?signature=a7dc664d7e49370c09d9e56a42cbac896f6540c41728afc45aba5754abd8b543</Image>
    </item>
      </category>
</menu>